.header {
    padding: 10px;
    text-align: center;
    align-items: center;
    background: #749F82;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
.link{
    float: right;    
    border-style: outset;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    
}

.login{
    font-size: larger;
    height:60px;
    width:100px;
}